<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <h3>Edit Profile</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="editForm">
        <div class="mb-3">
          <label class="form-label">Name </label>
          <input formControlName="name" type="text" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">Years </label>
          <input formControlName="age" type="text" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">Place </label>
          <input formControlName="place" type="text" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">Profile Image </label>
          <input
            (change)="selectImage($event)"
            type="file"
            class="form-control"
          />
        </div>
        <img id="blah" [src]="imageSrc" *ngIf="imageSrc" width="100px" height="100px"/>

        <button (click)="onUpdate()" type="submit" class="btn btn-info mt-2">
          Update
        </button>
      </form>
    </div>
  </div>
</div>
